<!DOCTYPE html>

                <main>
                    <div class="container-fluid">
                      <p>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">주 52시간제 리포트</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                52시간제 현황
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>사번</th>
                                                <th>성명</th>
                                                <th>근무 부서</th>
                                                <th>이번주 근무한 시간</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for(var i=0; i< data.length; i++){ %>  
                                            <tr>
                                                <td><%=data[i].u_employee_number%></td>
                                                <td><%=data[i].u_name%></td>
                                                <td><%=data[i].u_department%></td>
                                                <td><%=data[i].weekhour%> / 52시간</td>
                                            </tr>
                                            <%} %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
              